<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.almana.android.jasskasse"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="11" />

    <application
        android:name=".application.JasskasseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".db.DBProvider"
            android:authorities="ch.almana.android.jasskasse"
            android:exported="false" >
        </provider>

        <activity
            android:name=".view.activity.TransactionEditorActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <data android:mimeType="vnd.android.cursor.item/ch.almana.android.jasskasse.transaction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>